InterfaceUsuario/InterfaceUsuario/Web References/ServicoUsuario/ServicoUsuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="CriaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestUsuario" nillable="true" type="tns:RequestUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestUsuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CriaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseUsuario" nillable="true" type="tns:ResponseUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseUsuario">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Usuario" nillable="true" type="tns:Usuario" />
              <s:element minOccurs="1" maxOccurs="1" name="BoolUsuario" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="ListaUsuario" nillable="true" type="tns:Usuario" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:ResponseStatus" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Continue" />
          <s:enumeration value="OK" />
          <s:enumeration value="Created" />
          <s:enumeration value="Accepted" />
          <s:enumeration value="NoContent" />
          <s:enumeration value="MovedPermanently" />
          <s:enumeration value="Found" />
          <s:enumeration value="SeeOther" />
          <s:enumeration value="NotModified" />
          <s:enumeration value="BadRequest" />
          <s:enumeration value="Unauthorized" />
          <s:enumeration value="Forbidden" />
          <s:enumeration value="NotFound" />
          <s:enumeration value="MethodNotAllowed" />
          <s:enumeration value="RequestTimeout" />
          <s:enumeration value="Conflict" />
          <s:enumeration value="NotImplemented" />
          <s:enumeration value="ServiceUnavailable" />
          <s:enumeration value="BadVersion" />
          <s:enumeration value="InternalServerError" />
        </s:restriction>
      </s:simpleType>
      <s:element name="DeletaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestUsuario" nillable="true" type="tns:RequestUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseUsuario" nillable="true" type="tns:ResponseUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestUsuario" nillable="true" type="tns:RequestUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseUsuario" nillable="true" type="tns:ResponseUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestUsuario" nillable="true" type="tns:RequestUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseUsuario" nillable="true" type="tns:ResponseUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaUsuarios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestUsuario" nillable="true" type="tns:RequestUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaUsuariosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseUsuario" nillable="true" type="tns:ResponseUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CriaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CriaUsuario" />
  </wsdl:message>
  <wsdl:message name="CriaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CriaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="DeletaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:DeletaUsuario" />
  </wsdl:message>
  <wsdl:message name="DeletaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:DeletaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraUsuario" />
  </wsdl:message>
  <wsdl:message name="AlteraUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaUsuario" />
  </wsdl:message>
  <wsdl:message name="ConsultaUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuariosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscaUsuarios" />
  </wsdl:message>
  <wsdl:message name="BuscaUsuariosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscaUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoUsuarioSoap">
    <wsdl:operation name="CriarUsuario">
      <wsdl:input name="CriaUsuario" message="tns:CriaUsuarioSoapIn" />
      <wsdl:output name="CriaUsuario" message="tns:CriaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletarUsuario">
      <wsdl:input name="DeletaUsuario" message="tns:DeletaUsuarioSoapIn" />
      <wsdl:output name="DeletaUsuario" message="tns:DeletaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:input name="AlteraUsuario" message="tns:AlteraUsuarioSoapIn" />
      <wsdl:output name="AlteraUsuario" message="tns:AlteraUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <wsdl:input name="ConsultaUsuario" message="tns:ConsultaUsuarioSoapIn" />
      <wsdl:output name="ConsultaUsuario" message="tns:ConsultaUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuarios">
      <wsdl:input message="tns:BuscaUsuariosSoapIn" />
      <wsdl:output message="tns:BuscaUsuariosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoUsuarioSoap" type="tns:ServicoUsuarioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarUsuario">
      <soap:operation soapAction="http://www.pece.org.br/CriaUsuario" style="document" />
      <wsdl:input name="CriaUsuario">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaUsuario">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarUsuario">
      <soap:operation soapAction="http://www.pece.org.br/DeletaUsuario" style="document" />
      <wsdl:input name="DeletaUsuario">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaUsuario">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://www.pece.org.br/AlteraUsuario" style="document" />
      <wsdl:input name="AlteraUsuario">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraUsuario">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <soap:operation soapAction="http://www.pece.org.br/ConsultaUsuario" style="document" />
      <wsdl:input name="ConsultaUsuario">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaUsuario">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuarios">
      <soap:operation soapAction="http://www.pece.org.br/BuscaUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoUsuarioSoap12" type="tns:ServicoUsuarioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarUsuario">
      <soap12:operation soapAction="http://www.pece.org.br/CriaUsuario" style="document" />
      <wsdl:input name="CriaUsuario">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaUsuario">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarUsuario">
      <soap12:operation soapAction="http://www.pece.org.br/DeletaUsuario" style="document" />
      <wsdl:input name="DeletaUsuario">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaUsuario">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://www.pece.org.br/AlteraUsuario" style="document" />
      <wsdl:input name="AlteraUsuario">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraUsuario">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuario">
      <soap12:operation soapAction="http://www.pece.org.br/ConsultaUsuario" style="document" />
      <wsdl:input name="ConsultaUsuario">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaUsuario">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaUsuarios">
      <soap12:operation soapAction="http://www.pece.org.br/BuscaUsuarios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoUsuario">
    <wsdl:port name="ServicoUsuarioSoap" binding="tns:ServicoUsuarioSoap">
      <soap:address location="http://localhost:1765/Usuario/ServicoUsuario.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoUsuarioSoap12" binding="tns:ServicoUsuarioSoap12">
      <soap12:address location="http://localhost:1765/Usuario/ServicoUsuario.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>