trunk/InterfaceUsuario/InterfaceUsuario/Web References/ServicoDiretorio/servicosPECE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="ObtemEnderecoServico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_NomeServico" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtemEnderecoServicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtemEnderecoServicoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtemEnderecoServicoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtemEnderecoServico" />
  </wsdl:message>
  <wsdl:message name="ObtemEnderecoServicoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtemEnderecoServicoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicosSoap">
    <wsdl:operation name="ObtemEnderecoServico">
      <wsdl:input message="tns:ObtemEnderecoServicoSoapIn" />
      <wsdl:output message="tns:ObtemEnderecoServicoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicosSoap" type="tns:ServicosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtemEnderecoServico">
      <soap:operation soapAction="http://www.pece.org.br/ObtemEnderecoServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicosSoap12" type="tns:ServicosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtemEnderecoServico">
      <soap12:operation soapAction="http://www.pece.org.br/ObtemEnderecoServico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicos">
    <wsdl:port name="ServicosSoap" binding="tns:ServicosSoap">
      <soap:address location="http://localhost:1212/servicosPECE.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicosSoap12" binding="tns:ServicosSoap12">
      <soap12:address location="http://localhost:1212/servicosPECE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>