InterfaceUsuario/InterfaceUsuario/Web References/ServicoTipoPatrimonio/ServicoTipoPatrimonio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="CriaTipoPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestTipoPatrimonio" nillable="true" type="tns:RequestTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestTipoPatrimonio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TipoPatrimonio" nillable="true" type="tns:TipoPatrimonio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoPatrimonio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListAtributos" type="tns:Atributo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Atributo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Nulo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListaValores" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CriaTipoPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseTipoPatrimonio" nillable="true" type="tns:ResponseTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseTipoPatrimonio">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ListaTipoPatrimonio" nillable="true" type="tns:ArrayOfTipoPatrimonio" />
              <s:element minOccurs="1" maxOccurs="1" name="ListaAtributo" nillable="true" type="tns:ArrayOfAtributo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:ResponseStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Continue" />
          <s:enumeration value="OK" />
          <s:enumeration value="Created" />
          <s:enumeration value="Accepted" />
          <s:enumeration value="NoContent" />
          <s:enumeration value="MovedPermanently" />
          <s:enumeration value="Found" />
          <s:enumeration value="SeeOther" />
          <s:enumeration value="NotModified" />
          <s:enumeration value="BadRequest" />
          <s:enumeration value="Unauthorized" />
          <s:enumeration value="Forbidden" />
          <s:enumeration value="NotFound" />
          <s:enumeration value="MethodNotAllowed" />
          <s:enumeration value="RequestTimeout" />
          <s:enumeration value="Conflict" />
          <s:enumeration value="NotImplemented" />
          <s:enumeration value="ServiceUnavailable" />
          <s:enumeration value="BadVersion" />
          <s:enumeration value="InternalServerError" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfTipoPatrimonio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoPatrimonio" nillable="true" type="tns:TipoPatrimonio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAtributo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Atributo" nillable="true" type="tns:Atributo" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeletaTipoPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestTipoPatrimonio" nillable="true" type="tns:RequestTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaTipoPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseTipoPatrimonio" nillable="true" type="tns:ResponseTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraTipoPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestTipoPatrimonio" nillable="true" type="tns:RequestTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraTipoPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseTipoPatrimonio" nillable="true" type="tns:ResponseTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaTipoPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestTipoPatrimonio" nillable="true" type="tns:RequestTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaTipoPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseTipoPatrimonio" nillable="true" type="tns:ResponseTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaTipoPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestTipoPatrimonio" nillable="true" type="tns:RequestTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListaTipoPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseTipoPatrimonio" nillable="true" type="tns:ResponseTipoPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CriaTipoPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:CriaTipoPatrimonio" />
  </wsdl:message>
  <wsdl:message name="CriaTipoPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:CriaTipoPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="DeletaTipoPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:DeletaTipoPatrimonio" />
  </wsdl:message>
  <wsdl:message name="DeletaTipoPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:DeletaTipoPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraTipoPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraTipoPatrimonio" />
  </wsdl:message>
  <wsdl:message name="AlteraTipoPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraTipoPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaTipoPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaTipoPatrimonio" />
  </wsdl:message>
  <wsdl:message name="ConsultaTipoPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaTipoPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="ListaTipoPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:ListaTipoPatrimonio" />
  </wsdl:message>
  <wsdl:message name="ListaTipoPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:ListaTipoPatrimonioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoTipoPatrimonioSoap">
    <wsdl:operation name="CriarTipoPatrimonio">
      <wsdl:input name="CriaTipoPatrimonio" message="tns:CriaTipoPatrimonioSoapIn" />
      <wsdl:output name="CriaTipoPatrimonio" message="tns:CriaTipoPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletarTipoPatrimonio">
      <wsdl:input name="DeletaTipoPatrimonio" message="tns:DeletaTipoPatrimonioSoapIn" />
      <wsdl:output name="DeletaTipoPatrimonio" message="tns:DeletaTipoPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPatrimonio">
      <wsdl:input name="AlteraTipoPatrimonio" message="tns:AlteraTipoPatrimonioSoapIn" />
      <wsdl:output name="AlteraTipoPatrimonio" message="tns:AlteraTipoPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarTipoPatrimonio">
      <wsdl:input name="ConsultaTipoPatrimonio" message="tns:ConsultaTipoPatrimonioSoapIn" />
      <wsdl:output name="ConsultaTipoPatrimonio" message="tns:ConsultaTipoPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarTipoPatrimonio">
      <wsdl:input name="ListaTipoPatrimonio" message="tns:ListaTipoPatrimonioSoapIn" />
      <wsdl:output name="ListaTipoPatrimonio" message="tns:ListaTipoPatrimonioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoTipoPatrimonioSoap" type="tns:ServicoTipoPatrimonioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarTipoPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/CriaTipoPatrimonio" style="document" />
      <wsdl:input name="CriaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarTipoPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/DeletaTipoPatrimonio" style="document" />
      <wsdl:input name="DeletaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/AlteraTipoPatrimonio" style="document" />
      <wsdl:input name="AlteraTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTipoPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/ConsultaTipoPatrimonio" style="document" />
      <wsdl:input name="ConsultaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/ListaTipoPatrimonio" style="document" />
      <wsdl:input name="ListaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListaTipoPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoTipoPatrimonioSoap12" type="tns:ServicoTipoPatrimonioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarTipoPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/CriaTipoPatrimonio" style="document" />
      <wsdl:input name="CriaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarTipoPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/DeletaTipoPatrimonio" style="document" />
      <wsdl:input name="DeletaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarTipoPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/AlteraTipoPatrimonio" style="document" />
      <wsdl:input name="AlteraTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarTipoPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/ConsultaTipoPatrimonio" style="document" />
      <wsdl:input name="ConsultaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarTipoPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/ListaTipoPatrimonio" style="document" />
      <wsdl:input name="ListaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ListaTipoPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoTipoPatrimonio">
    <wsdl:port name="ServicoTipoPatrimonioSoap" binding="tns:ServicoTipoPatrimonioSoap">
      <soap:address location="http://localhost:1717/TipoPatrimonio/ServicoTipoPatrimonio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoTipoPatrimonioSoap12" binding="tns:ServicoTipoPatrimonioSoap12">
      <soap12:address location="http://localhost:1717/TipoPatrimonio/ServicoTipoPatrimonio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>