trunk/InterfaceUsuario/InterfaceUsuario/Web References/ServicoAutenticador/ServicoAutenticador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAutenticador.cs" nillable="true" type="tns:RequestAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestAutenticador">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NomeUsuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Senha" nillable="true" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTela" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAutenticador" nillable="true" type="tns:ResponseAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseAutenticador">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="RegistroCorreto" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="Autenticador" nillable="true" type="tns:Autenticador" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:ResponseStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Continue" />
          <s:enumeration value="OK" />
          <s:enumeration value="Created" />
          <s:enumeration value="Accepted" />
          <s:enumeration value="NoContent" />
          <s:enumeration value="MovedPermanently" />
          <s:enumeration value="Found" />
          <s:enumeration value="SeeOther" />
          <s:enumeration value="NotModified" />
          <s:enumeration value="BadRequest" />
          <s:enumeration value="Unauthorized" />
          <s:enumeration value="Forbidden" />
          <s:enumeration value="NotFound" />
          <s:enumeration value="MethodNotAllowed" />
          <s:enumeration value="RequestTimeout" />
          <s:enumeration value="Conflict" />
          <s:enumeration value="NotImplemented" />
          <s:enumeration value="ServiceUnavailable" />
          <s:enumeration value="BadVersion" />
          <s:enumeration value="InternalServerError" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Autenticador">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="idUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idTela" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="idTipoAcesso" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PermissaoIncluir" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PermissaoExcluir" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PermissaoConsultar" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PermissaoEditar" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerificaPermissoes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAutenticador.cs" nillable="true" type="tns:RequestAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaPermissoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAutenticador" nillable="true" type="tns:ResponseAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaPermissoesSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaPermissoes" />
  </wsdl:message>
  <wsdl:message name="VerificaPermissoesSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaPermissoesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoAutenticadorSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissoes">
      <wsdl:input name="VerificaPermissoes" message="tns:VerificaPermissoesSoapIn" />
      <wsdl:output name="VerificaPermissoes" message="tns:VerificaPermissoesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoAutenticadorSoap" type="tns:ServicoAutenticadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.pece.org.br/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissoes">
      <soap:operation soapAction="http://www.pece.org.br/VerificaPermissoes" style="document" />
      <wsdl:input name="VerificaPermissoes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VerificaPermissoes">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoAutenticadorSoap12" type="tns:ServicoAutenticadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.pece.org.br/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissoes">
      <soap12:operation soapAction="http://www.pece.org.br/VerificaPermissoes" style="document" />
      <wsdl:input name="VerificaPermissoes">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VerificaPermissoes">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoAutenticador">
    <wsdl:port name="ServicoAutenticadorSoap" binding="tns:ServicoAutenticadorSoap">
      <soap:address location="http://localhost:1765/Autenticador/ServicoAutenticador.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoAutenticadorSoap12" binding="tns:ServicoAutenticadorSoap12">
      <soap12:address location="http://localhost:1765/Autenticador/ServicoAutenticador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>