trunk/InterfaceUsuario/InterfaceUsuario/Web References/ServicoAutenticador/ServicoAutenticador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAutenticador.cs" nillable="true" type="tns:RequestAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestAutenticador" />
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAutenticador" nillable="true" type="tns:ResponseAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseAutenticador">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAutenticador.cs" nillable="true" type="tns:RequestAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAutenticador" nillable="true" type="tns:ResponseAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaPermissoes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAutenticador.cs" nillable="true" type="tns:RequestAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificaPermissoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAutenticador" nillable="true" type="tns:ResponseAutenticador" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="VerificaPermissoesSoapIn">
    <wsdl:part name="parameters" element="tns:VerificaPermissoes" />
  </wsdl:message>
  <wsdl:message name="VerificaPermissoesSoapOut">
    <wsdl:part name="parameters" element="tns:VerificaPermissoesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoAutenticadorSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissoes">
      <wsdl:input name="VerificaPermissoes" message="tns:VerificaPermissoesSoapIn" />
      <wsdl:output name="VerificaPermissoes" message="tns:VerificaPermissoesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoAutenticadorSoap" type="tns:ServicoAutenticadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://www.pece.org.br/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://www.pece.org.br/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissoes">
      <soap:operation soapAction="http://www.pece.org.br/VerificaPermissoes" style="document" />
      <wsdl:input name="VerificaPermissoes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VerificaPermissoes">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoAutenticadorSoap12" type="tns:ServicoAutenticadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://www.pece.org.br/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://www.pece.org.br/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarPermissoes">
      <soap12:operation soapAction="http://www.pece.org.br/VerificaPermissoes" style="document" />
      <wsdl:input name="VerificaPermissoes">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="VerificaPermissoes">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoAutenticador">
    <wsdl:port name="ServicoAutenticadorSoap" binding="tns:ServicoAutenticadorSoap">
      <soap:address location="http://localhost:1180/Autenticador/ServicoAutenticador.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoAutenticadorSoap12" binding="tns:ServicoAutenticadorSoap12">
      <soap12:address location="http://localhost:1180/Autenticador/ServicoAutenticador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>