InterfaceUsuario/InterfaceUsuario/Web References/ServicoPatrimonio/ServicoPatrimonio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="CriaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestPatrimonio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Patrimonio" nillable="true" type="tns:Patrimonio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Patrimonio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NumeroPECE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCompra" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroNotaFiscal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataExpGarantia" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CriaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponsePatrimonio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BaixaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaixaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ColocaEmManutencao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ColocaEmManutencaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CriaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:CriaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="CriaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:CriaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="BaixaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:BaixaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="BaixaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:BaixaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="DeletaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:DeletaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="DeletaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:DeletaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraPatrimonio" />
  </wsdl:message>
  <wsdl:message name="AlteraPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="ConsultaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="ColocaEmManutencaoSoapIn">
    <wsdl:part name="parameters" element="tns:ColocaEmManutencao" />
  </wsdl:message>
  <wsdl:message name="ColocaEmManutencaoSoapOut">
    <wsdl:part name="parameters" element="tns:ColocaEmManutencaoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoPatrimonioSoap">
    <wsdl:operation name="CriarPatrimonio">
      <wsdl:input name="CriaPatrimonio" message="tns:CriaPatrimonioSoapIn" />
      <wsdl:output name="CriaPatrimonio" message="tns:CriaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaixarPatrimonio">
      <wsdl:input name="BaixaPatrimonio" message="tns:BaixaPatrimonioSoapIn" />
      <wsdl:output name="BaixaPatrimonio" message="tns:BaixaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletarPatrimonio">
      <wsdl:input name="DeletaPatrimonio" message="tns:DeletaPatrimonioSoapIn" />
      <wsdl:output name="DeletaPatrimonio" message="tns:DeletaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarPatrimonio">
      <wsdl:input name="AlteraPatrimonio" message="tns:AlteraPatrimonioSoapIn" />
      <wsdl:output name="AlteraPatrimonio" message="tns:AlteraPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPatrimonio">
      <wsdl:input name="ConsultaPatrimonio" message="tns:ConsultaPatrimonioSoapIn" />
      <wsdl:output name="ConsultaPatrimonio" message="tns:ConsultaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ColocarEmManutencao">
      <wsdl:input name="ColocaEmManutencao" message="tns:ColocaEmManutencaoSoapIn" />
      <wsdl:output name="ColocaEmManutencao" message="tns:ColocaEmManutencaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoPatrimonioSoap" type="tns:ServicoPatrimonioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/CriaPatrimonio" style="document" />
      <wsdl:input name="CriaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaixarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/BaixaPatrimonio" style="document" />
      <wsdl:input name="BaixaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaixaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/DeletaPatrimonio" style="document" />
      <wsdl:input name="DeletaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/AlteraPatrimonio" style="document" />
      <wsdl:input name="AlteraPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/ConsultaPatrimonio" style="document" />
      <wsdl:input name="ConsultaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ColocarEmManutencao">
      <soap:operation soapAction="http://www.pece.org.br/ColocaEmManutencao" style="document" />
      <wsdl:input name="ColocaEmManutencao">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ColocaEmManutencao">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoPatrimonioSoap12" type="tns:ServicoPatrimonioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/CriaPatrimonio" style="document" />
      <wsdl:input name="CriaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaixarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/BaixaPatrimonio" style="document" />
      <wsdl:input name="BaixaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaixaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/DeletaPatrimonio" style="document" />
      <wsdl:input name="DeletaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/AlteraPatrimonio" style="document" />
      <wsdl:input name="AlteraPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/ConsultaPatrimonio" style="document" />
      <wsdl:input name="ConsultaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ColocarEmManutencao">
      <soap12:operation soapAction="http://www.pece.org.br/ColocaEmManutencao" style="document" />
      <wsdl:input name="ColocaEmManutencao">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ColocaEmManutencao">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoPatrimonio">
    <wsdl:port name="ServicoPatrimonioSoap" binding="tns:ServicoPatrimonioSoap">
      <soap:address location="http://localhost:1165/Patrimonio/ServicoPatrimonio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoPatrimonioSoap12" binding="tns:ServicoPatrimonioSoap12">
      <soap12:address location="http://localhost:1165/Patrimonio/ServicoPatrimonio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>