InterfaceUsuario/InterfaceUsuario/Web References/ServicoPatrimonio/ServicoPatrimonio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="CriaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestPatrimonio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Patrimonio" nillable="true" type="tns:Patrimonio" />
          <s:element minOccurs="1" maxOccurs="1" name="Manutencao" nillable="true" type="tns:Manutencao" />
          <s:element minOccurs="1" maxOccurs="1" name="BaixaPatrimonio" nillable="true" type="tns:Baixa" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Patrimonio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdEquipamento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroPECE" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataCompra" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroNotaFiscal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataExpGarantia" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListAtributos" type="tns:Atributo" />
          <s:element minOccurs="0" maxOccurs="1" name="CaminhoFotoNotaFiscal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CaminhoFotoPatrimonio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LocalPatrimonio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroPedido" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoPatrimonio" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Atributo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Nulo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListaValores" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Manutencao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdManutencao" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataManutencao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observacao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPatrimonio" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Baixa">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdBaixa" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataManutencao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinoBaixa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ObservacoesBaixa" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CriaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponsePatrimonio">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Manutencao" type="tns:Manutencao" />
              <s:element minOccurs="0" maxOccurs="unbounded" name="ListaPatrimonio" type="tns:Patrimonio" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:ResponseStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Continue" />
          <s:enumeration value="OK" />
          <s:enumeration value="Created" />
          <s:enumeration value="Accepted" />
          <s:enumeration value="NoContent" />
          <s:enumeration value="MovedPermanently" />
          <s:enumeration value="Found" />
          <s:enumeration value="SeeOther" />
          <s:enumeration value="NotModified" />
          <s:enumeration value="BadRequest" />
          <s:enumeration value="Unauthorized" />
          <s:enumeration value="Forbidden" />
          <s:enumeration value="NotFound" />
          <s:enumeration value="MethodNotAllowed" />
          <s:enumeration value="RequestTimeout" />
          <s:enumeration value="Conflict" />
          <s:enumeration value="NotImplemented" />
          <s:enumeration value="ServiceUnavailable" />
          <s:enumeration value="BadVersion" />
          <s:enumeration value="InternalServerError" />
        </s:restriction>
      </s:simpleType>
      <s:element name="BaixaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BaixaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPatrimonio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaPatrimonioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraManutencao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestPatrimonio" nillable="true" type="tns:RequestPatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistraManutencaoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponsePatrimonio" nillable="true" type="tns:ResponsePatrimonio" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CriaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:CriaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="CriaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:CriaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="BaixaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:BaixaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="BaixaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:BaixaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="DeletaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:DeletaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="DeletaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:DeletaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraPatrimonio" />
  </wsdl:message>
  <wsdl:message name="AlteraPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaPatrimonioSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaPatrimonio" />
  </wsdl:message>
  <wsdl:message name="ConsultaPatrimonioSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaPatrimonioResponse" />
  </wsdl:message>
  <wsdl:message name="RegistraManutencaoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistraManutencao" />
  </wsdl:message>
  <wsdl:message name="RegistraManutencaoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistraManutencaoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoPatrimonioSoap">
    <wsdl:operation name="CriarPatrimonio">
      <wsdl:input name="CriaPatrimonio" message="tns:CriaPatrimonioSoapIn" />
      <wsdl:output name="CriaPatrimonio" message="tns:CriaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BaixarPatrimonio">
      <wsdl:input name="BaixaPatrimonio" message="tns:BaixaPatrimonioSoapIn" />
      <wsdl:output name="BaixaPatrimonio" message="tns:BaixaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletarPatrimonio">
      <wsdl:input name="DeletaPatrimonio" message="tns:DeletaPatrimonioSoapIn" />
      <wsdl:output name="DeletaPatrimonio" message="tns:DeletaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarPatrimonio">
      <wsdl:input name="AlteraPatrimonio" message="tns:AlteraPatrimonioSoapIn" />
      <wsdl:output name="AlteraPatrimonio" message="tns:AlteraPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPatrimonio">
      <wsdl:input name="ConsultaPatrimonio" message="tns:ConsultaPatrimonioSoapIn" />
      <wsdl:output name="ConsultaPatrimonio" message="tns:ConsultaPatrimonioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarManutencao">
      <wsdl:input name="RegistraManutencao" message="tns:RegistraManutencaoSoapIn" />
      <wsdl:output name="RegistraManutencao" message="tns:RegistraManutencaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoPatrimonioSoap" type="tns:ServicoPatrimonioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/CriaPatrimonio" style="document" />
      <wsdl:input name="CriaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaixarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/BaixaPatrimonio" style="document" />
      <wsdl:input name="BaixaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaixaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/DeletaPatrimonio" style="document" />
      <wsdl:input name="DeletaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/AlteraPatrimonio" style="document" />
      <wsdl:input name="AlteraPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPatrimonio">
      <soap:operation soapAction="http://www.pece.org.br/ConsultaPatrimonio" style="document" />
      <wsdl:input name="ConsultaPatrimonio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaPatrimonio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarManutencao">
      <soap:operation soapAction="http://www.pece.org.br/RegistraManutencao" style="document" />
      <wsdl:input name="RegistraManutencao">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RegistraManutencao">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoPatrimonioSoap12" type="tns:ServicoPatrimonioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/CriaPatrimonio" style="document" />
      <wsdl:input name="CriaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BaixarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/BaixaPatrimonio" style="document" />
      <wsdl:input name="BaixaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaixaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/DeletaPatrimonio" style="document" />
      <wsdl:input name="DeletaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/AlteraPatrimonio" style="document" />
      <wsdl:input name="AlteraPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPatrimonio">
      <soap12:operation soapAction="http://www.pece.org.br/ConsultaPatrimonio" style="document" />
      <wsdl:input name="ConsultaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaPatrimonio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarManutencao">
      <soap12:operation soapAction="http://www.pece.org.br/RegistraManutencao" style="document" />
      <wsdl:input name="RegistraManutencao">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RegistraManutencao">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoPatrimonio">
    <wsdl:port name="ServicoPatrimonioSoap" binding="tns:ServicoPatrimonioSoap">
      <soap:address location="http://localhost:1717/Patrimonio/ServicoPatrimonio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoPatrimonioSoap12" binding="tns:ServicoPatrimonioSoap12">
      <soap12:address location="http://localhost:1717/Patrimonio/ServicoPatrimonio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>