trunk/InterfaceUsuario/InterfaceUsuario/Web References/ServicoAtributo/ServicoAtributo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="CriaAtributo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAtributo" nillable="true" type="tns:RequestAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestAtributo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Atributo" nillable="true" type="tns:Atributo" />
          <s:element minOccurs="1" maxOccurs="1" name="IdAtributo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Atributo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Nulo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListaValores" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CriaAtributoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAtributo" nillable="true" type="tns:ResponseAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseAtributo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ListaAtributos" nillable="true" type="tns:ArrayOfAtributo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:ResponseStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Continue" />
          <s:enumeration value="OK" />
          <s:enumeration value="Created" />
          <s:enumeration value="Accepted" />
          <s:enumeration value="NoContent" />
          <s:enumeration value="MovedPermanently" />
          <s:enumeration value="Found" />
          <s:enumeration value="SeeOther" />
          <s:enumeration value="NotModified" />
          <s:enumeration value="BadRequest" />
          <s:enumeration value="Unauthorized" />
          <s:enumeration value="Forbidden" />
          <s:enumeration value="NotFound" />
          <s:enumeration value="MethodNotAllowed" />
          <s:enumeration value="RequestTimeout" />
          <s:enumeration value="Conflict" />
          <s:enumeration value="NotImplemented" />
          <s:enumeration value="ServiceUnavailable" />
          <s:enumeration value="BadVersion" />
          <s:enumeration value="InternalServerError" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfAtributo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Atributo" nillable="true" type="tns:Atributo" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeletaAtributo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAtributo" nillable="true" type="tns:RequestAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletaAtributoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAtributo" nillable="true" type="tns:ResponseAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraAtributo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAtributo" nillable="true" type="tns:RequestAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlteraAtributoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAtributo" nillable="true" type="tns:ResponseAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaAtributo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAtributo" nillable="true" type="tns:RequestAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultaAtributoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAtributo" nillable="true" type="tns:ResponseAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaAtributos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestAtributo" nillable="true" type="tns:RequestAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscaAtributosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseAtributo" nillable="true" type="tns:ResponseAtributo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CriaAtributoSoapIn">
    <wsdl:part name="parameters" element="tns:CriaAtributo" />
  </wsdl:message>
  <wsdl:message name="CriaAtributoSoapOut">
    <wsdl:part name="parameters" element="tns:CriaAtributoResponse" />
  </wsdl:message>
  <wsdl:message name="DeletaAtributoSoapIn">
    <wsdl:part name="parameters" element="tns:DeletaAtributo" />
  </wsdl:message>
  <wsdl:message name="DeletaAtributoSoapOut">
    <wsdl:part name="parameters" element="tns:DeletaAtributoResponse" />
  </wsdl:message>
  <wsdl:message name="AlteraAtributoSoapIn">
    <wsdl:part name="parameters" element="tns:AlteraAtributo" />
  </wsdl:message>
  <wsdl:message name="AlteraAtributoSoapOut">
    <wsdl:part name="parameters" element="tns:AlteraAtributoResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultaAtributoSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultaAtributo" />
  </wsdl:message>
  <wsdl:message name="ConsultaAtributoSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultaAtributoResponse" />
  </wsdl:message>
  <wsdl:message name="BuscaAtributosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscaAtributos" />
  </wsdl:message>
  <wsdl:message name="BuscaAtributosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscaAtributosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoAtributoSoap">
    <wsdl:operation name="CriarAtributo">
      <wsdl:input name="CriaAtributo" message="tns:CriaAtributoSoapIn" />
      <wsdl:output name="CriaAtributo" message="tns:CriaAtributoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletarAtributo">
      <wsdl:input name="DeletaAtributo" message="tns:DeletaAtributoSoapIn" />
      <wsdl:output name="DeletaAtributo" message="tns:DeletaAtributoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarAtributo">
      <wsdl:input name="AlteraAtributo" message="tns:AlteraAtributoSoapIn" />
      <wsdl:output name="AlteraAtributo" message="tns:AlteraAtributoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarAtributo">
      <wsdl:input name="ConsultaAtributo" message="tns:ConsultaAtributoSoapIn" />
      <wsdl:output name="ConsultaAtributo" message="tns:ConsultaAtributoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAtributos">
      <wsdl:input name="BuscaAtributos" message="tns:BuscaAtributosSoapIn" />
      <wsdl:output name="BuscaAtributos" message="tns:BuscaAtributosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoAtributoSoap" type="tns:ServicoAtributoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarAtributo">
      <soap:operation soapAction="http://www.pece.org.br/CriaAtributo" style="document" />
      <wsdl:input name="CriaAtributo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaAtributo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarAtributo">
      <soap:operation soapAction="http://www.pece.org.br/DeletaAtributo" style="document" />
      <wsdl:input name="DeletaAtributo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaAtributo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAtributo">
      <soap:operation soapAction="http://www.pece.org.br/AlteraAtributo" style="document" />
      <wsdl:input name="AlteraAtributo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraAtributo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAtributo">
      <soap:operation soapAction="http://www.pece.org.br/ConsultaAtributo" style="document" />
      <wsdl:input name="ConsultaAtributo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaAtributo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAtributos">
      <soap:operation soapAction="http://www.pece.org.br/BuscaAtributos" style="document" />
      <wsdl:input name="BuscaAtributos">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BuscaAtributos">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoAtributoSoap12" type="tns:ServicoAtributoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CriarAtributo">
      <soap12:operation soapAction="http://www.pece.org.br/CriaAtributo" style="document" />
      <wsdl:input name="CriaAtributo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CriaAtributo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarAtributo">
      <soap12:operation soapAction="http://www.pece.org.br/DeletaAtributo" style="document" />
      <wsdl:input name="DeletaAtributo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DeletaAtributo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarAtributo">
      <soap12:operation soapAction="http://www.pece.org.br/AlteraAtributo" style="document" />
      <wsdl:input name="AlteraAtributo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AlteraAtributo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarAtributo">
      <soap12:operation soapAction="http://www.pece.org.br/ConsultaAtributo" style="document" />
      <wsdl:input name="ConsultaAtributo">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConsultaAtributo">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAtributos">
      <soap12:operation soapAction="http://www.pece.org.br/BuscaAtributos" style="document" />
      <wsdl:input name="BuscaAtributos">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BuscaAtributos">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoAtributo">
    <wsdl:port name="ServicoAtributoSoap" binding="tns:ServicoAtributoSoap">
      <soap:address location="http://localhost:1717/Atributo/ServicoAtributo.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoAtributoSoap12" binding="tns:ServicoAtributoSoap12">
      <soap12:address location="http://localhost:1717/Atributo/ServicoAtributo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>