InterfaceUsuario/InterfaceUsuario/Web References/ServicoDiretorio/servicosPECE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="ObtemEnderecoServico">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Request" nillable="true" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ServiceVersion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObtemEnderecoServicoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Response" nillable="true" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseResponse">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="ListaServicos" nillable="true" type="tns:ArrayOfServico" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="tns:ResponseStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResponseStatus">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Continue" />
          <s:enumeration value="OK" />
          <s:enumeration value="Created" />
          <s:enumeration value="Accepted" />
          <s:enumeration value="NoContent" />
          <s:enumeration value="MovedPermanently" />
          <s:enumeration value="Found" />
          <s:enumeration value="SeeOther" />
          <s:enumeration value="NotModified" />
          <s:enumeration value="BadRequest" />
          <s:enumeration value="Unauthorized" />
          <s:enumeration value="Forbidden" />
          <s:enumeration value="NotFound" />
          <s:enumeration value="MethodNotAllowed" />
          <s:enumeration value="RequestTimeout" />
          <s:enumeration value="Conflict" />
          <s:enumeration value="NotImplemented" />
          <s:enumeration value="ServiceUnavailable" />
          <s:enumeration value="BadVersion" />
          <s:enumeration value="InternalServerError" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfServico">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Servico" nillable="true" type="tns:Servico" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Servico">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdServico" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeServico" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EnderecoServico" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ObterServicos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Request" nillable="true" type="tns:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObterServicosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Response" nillable="true" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtemEnderecoServicoSoapIn">
    <wsdl:part name="parameters" element="tns:ObtemEnderecoServico" />
  </wsdl:message>
  <wsdl:message name="ObtemEnderecoServicoSoapOut">
    <wsdl:part name="parameters" element="tns:ObtemEnderecoServicoResponse" />
  </wsdl:message>
  <wsdl:message name="ObterServicosSoapIn">
    <wsdl:part name="parameters" element="tns:ObterServicos" />
  </wsdl:message>
  <wsdl:message name="ObterServicosSoapOut">
    <wsdl:part name="parameters" element="tns:ObterServicosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicosSoap">
    <wsdl:operation name="ObtemEnderecoServico">
      <wsdl:input message="tns:ObtemEnderecoServicoSoapIn" />
      <wsdl:output message="tns:ObtemEnderecoServicoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtemServicos">
      <wsdl:input name="ObterServicos" message="tns:ObterServicosSoapIn" />
      <wsdl:output name="ObterServicos" message="tns:ObterServicosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicosSoap" type="tns:ServicosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtemEnderecoServico">
      <soap:operation soapAction="http://www.pece.org.br/ObtemEnderecoServico" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemServicos">
      <soap:operation soapAction="http://www.pece.org.br/ObterServicos" style="document" />
      <wsdl:input name="ObterServicos">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ObterServicos">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicosSoap12" type="tns:ServicosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtemEnderecoServico">
      <soap12:operation soapAction="http://www.pece.org.br/ObtemEnderecoServico" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtemServicos">
      <soap12:operation soapAction="http://www.pece.org.br/ObterServicos" style="document" />
      <wsdl:input name="ObterServicos">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ObterServicos">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicos">
    <wsdl:port name="ServicosSoap" binding="tns:ServicosSoap">
      <soap:address location="http://localhost:1749/servicosPECE.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicosSoap12" binding="tns:ServicosSoap12">
      <soap12:address location="http://localhost:1749/servicosPECE.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>