InterfaceUsuario/InterfaceUsuario/Web References/ServicoRelatorio/ServicoRelatorio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.pece.org.br/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.pece.org.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.pece.org.br/">
      <s:element name="GeraRelatorio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestRelatorio" nillable="true" type="tns:RequestRelatorio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestRelatorio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Relatorio" nillable="true" type="tns:Relatorio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Relatorio" />
      <s:element name="GeraRelatorioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ResponseRelatorio" nillable="true" type="tns:ResponseRelatorio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseRelatorio">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Message" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeraRelatorioSoapIn">
    <wsdl:part name="parameters" element="tns:GeraRelatorio" />
  </wsdl:message>
  <wsdl:message name="GeraRelatorioSoapOut">
    <wsdl:part name="parameters" element="tns:GeraRelatorioResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoRelatorioSoap">
    <wsdl:operation name="GerarRelatorio">
      <wsdl:input name="GeraRelatorio" message="tns:GeraRelatorioSoapIn" />
      <wsdl:output name="GeraRelatorio" message="tns:GeraRelatorioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoRelatorioSoap" type="tns:ServicoRelatorioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarRelatorio">
      <soap:operation soapAction="http://www.pece.org.br/GeraRelatorio" style="document" />
      <wsdl:input name="GeraRelatorio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GeraRelatorio">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoRelatorioSoap12" type="tns:ServicoRelatorioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GerarRelatorio">
      <soap12:operation soapAction="http://www.pece.org.br/GeraRelatorio" style="document" />
      <wsdl:input name="GeraRelatorio">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GeraRelatorio">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoRelatorio">
    <wsdl:port name="ServicoRelatorioSoap" binding="tns:ServicoRelatorioSoap">
      <soap:address location="http://localhost:1165/Relatorio/ServicoRelatorio.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoRelatorioSoap12" binding="tns:ServicoRelatorioSoap12">
      <soap12:address location="http://localhost:1165/Relatorio/ServicoRelatorio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>